// COLORES PALETA
$primary-bg:linear-gradient(-75deg, #EACCF8 8%, #6654F1 100%);
$primary-color-letras:#fcecfb;
$text-shadow: 1px 1px 1px rgba(#56057e,  .5);

$font-h1:45px;
$font-mediun:30px;
$font-little:18px;

$font-family: 'Zen Loop', cursive;