


.header{
    padding: 2em;
    display: flex;
    justify-content: space-between;
    ul{
        display: flex;
        transition: .5s ease;
    }
    .logo,
     li{
        font-size: $font-mediun;
        transition: .5s ease;
    }

    li{
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: space-evenly;
        &:hover{
            // color: #5545e5;
            color: rgba(163, 60, 91, 0.72);
            font-size: 50px;
            text-shadow: 1px 1px 1px rgba(#3f99d9,  .5);
       
        }
    }
    span{
        font-size: $font-little;
    }
}
