// COLORES PALETA
$primary-bg:linear-gradient(-75deg, #EACCF8 8%, #6654F1 100%);
$primary-color-letras:#fcecfb;
$text-shadow: 1px 1px 1px rgba(#c4549e,  .5);

$font-h1:60px;
$font-mediun:40px;
$font-little:18px;