.menu_responsive{
    display: none;
}


@media screen and(max-width: 1029px) {
    .container_home{
        flex-direction: column;
        padding-left: 10px;
        justify-content: center;
        align-items: center;
    }
    .info_personal{
        width: 400px;
        text-align: center;
        margin: 0;
    }
    .container_about{
        grid-template-columns: 1fr;
    }
    .segunda_colum{
        display: none;
      
    }

    .text_eslogan{
     h1{
            font-size: $font-mediun;
            padding: 30px;
     }
     p{
         bottom: 30%;
     }
    }

}

@media screen and(max-width: 820px) {

    .header li{
        display: none;
    }

    .wraper{
        .logos_contacto{
            left: 90%;
        }
    }
  

    .menu_responsive{
        display: block;
        position: relative;
    
    }
    

    .opciones_menu{
        position: absolute;
        left: 100%;
        margin-top: 50px;
        transition: .5s ease-in;
        z-index: 99;
        li{
            width: 300px;
            height: 40px;
            margin: 5px;
            border-radius: 3px;
            padding-top: 6px;
            padding-left: 6px;
            font-size: 25px;
            background-color: rgb(128, 64, 184);
        }
    }

    .menu_active{
        left: 72%;
    }
      
    .menu_hamburguesa{
        cursor: pointer;
        position: absolute;
        margin-top: 20px;
        left: 90%;
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        
        // filter: blur(4);
        // backdrop-filter: blur(4px);
        // background-color: rgba(151, 102, 214, 0.196);
        // box-shadow: inset 10px 10px 37px rgba(245, 203, 255, 0.414);
        // border-radius: 50%;
        span{
            width: 30px;
            height: 2px;
            margin: 4px;
            margin-top: 2px;
            background-color: $primary-color-letras;
            transition: .5s ease-in;
        }
        .bars_efect-1{
            transform: rotate(45deg) translate(-2px, 2px);
        }

        .bars_efect-2{
            margin-left: -20px;
            opacity: 0;
        }
        .bars_efect-3{
            transform: rotate(-45deg) translate(9px, -13px);
        }
    }
    .container_perfil{
        width: 300px;
        height: 320px;
    }
   
}

